@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PolySans-Thin";
    src: url("/fonts/PolySans-Slim.woff2") format("woff2"), url("/fonts/PolySans-Slim.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "PolySans-Regular";
    src: url("/fonts/PolySans-Neutral.woff2") format("woff2"), url("/fonts/PolySans-Neutral.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "PolySans-Bold";
    src: url("/fonts/PolySans-Median.woff2") format("woff2"), url("/fonts/PolySans-Median.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "PPCirka-Regular";
    src: url("/fonts/PPCirka-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "PPCirka-Bold";
    src: url("/fonts/PPCirka-Medium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
}

@layer components {
  .blog-editor .bn-block,
  .blog-editor .bn-block-content {
    @apply w-full flex flex-col items-center justify-center;
  }

  .blog-editor .bn-editor {
    @apply bg-transparent px-0;
  }

  .blog-editor .bn-side-menu {
    @apply absolute left-6 top-1 flex flex-row w-max h-8 !important;
  }

  .bn-inline-content .bn-inline-content-content {
    @apply flex flex-col items-center justify-center;
  }

  .natsu-blog h1,
  h1.bn-inline-content {
    @apply font-polysans-bold text-5xl mb-4 xl:mb-8 text-neutral-900 dark:text-neutral-100 leading-10 w-10/12 max-w-4xl !important;
  }

  .natsu-blog h2,
  h2.bn-inline-content {
    @apply font-polysans-bold text-4xl mb-4 xl:mb-8 text-neutral-900 dark:text-neutral-100 leading-10 w-10/12 max-w-4xl !important;
  }

  .natsu-blog h3,
  h3.bn-inline-content {
    @apply text-2xl mb-4 xl:mb-6 text-neutral-900 dark:text-neutral-100 leading-10 w-10/12 max-w-4xl !important;
  }

  .natsu-blog p,
  p.bn-inline-content {
    @apply text-lg font-light mb-4 xl:mb-8 text-neutral-800 dark:text-neutral-200 leading-8 w-10/12 max-w-4xl !important;
  }

  .natsu-blog a,
  a .bn-inline-content {
    @apply text-blue-500 hover:text-blue-300 font-medium;
  }

  .natsu-blog strong,
  .bn-inline-content strong {
    @apply font-semibold;
  }

  .natsu-blog em,
  em.bn-inline-content {
    @apply italic;
  }

  .natsu-blog u,
  u .bn-inline-content {
    @apply underline;
  }

  .natsu-blog s,
  s .bn-inline-content {
    @apply line-through;
  }

  .natsu-blog ol,
  ol.bn-inline-content {
    @apply list-decimal pl-5 my-4;
  }

  .natsu-blog ul,
  ul.bn-inline-content {
    @apply list-disc pl-5 my-4;
  }

  .natsu-blog li,
  li.bn-inline-content {
    @apply my-2;
  }

  .natsu-blog input[type="checkbox"],
  input[type="checkbox"].bn-inline-content {
    @apply mr-2 h-5 w-5 text-blue-600 flex flex-row;
  }

  .natsu-blog img,
  .bn-visual-media-wrapper img {
    @apply my-4 w-full h-auto rounded-3xl;
  }

  /* Text Stroke */
  .text-stroke {
    @apply font-bold text-transparent;
    -webkit-text-stroke: 1.5px black;
  }

  @media (prefers-color-scheme: dark) {
    .text-stroke {
      -webkit-text-stroke: 1.5px white;
    }
  }
}
